*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

div{
  color: black;
}

button{
  cursor: pointer;
}

.app_wrapper{
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game_container{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/*Flip card setup below*/
.flip-card {
  background-color: transparent;
  width: 100%;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-card-title{
  height: 80px;
}

.flip-card-text{
  height: 300px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 20px;
}

.flipped{
  transform: rotateX(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 10px rgb(30, 44, 255) solid;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: dodgerblue;
  color: black;
}

/* Style the back side */
.flip-card-back {
  display: flex;
  background-color: dodgerblue;
  transform: rotateX(180deg);
}

.menu_container{
  color: black;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.game_upper_UI, .game_bottom_UI{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.game_upper_UI > .btn_main, .game_bottom_UI > .btn_main{
  padding: 10px;
  width: 25%;
  border-radius: 20px;
  background-color: dodgerblue;
  color: white;
  border: 5px rgb(30, 44, 255) solid;
}

.game_upper_UI > .btn_main:active, .game_bottom_UI > .btn_main:active{
  background-color: rgb(30, 210, 255);
}

.game_bottom_UI > .btn_main{
  width: 45%;
  color: white;
}

.game_bottom_UI > .btn_main:disabled{
  color: rgba(255, 255, 255, 0.386);
}

.game_bottom_UI > p{
  color: black;
  align-self: center;
}

button:active{
  background-color: rgb(30, 210, 255);
}

.btn_start{
  padding: 10px;
  width: 120px;
  height: 50px;
  border-radius: 10px;
  transition: padding 100ms ease;
}

.btn_navigation:first-child{
  width: 100%;
  height: 19px;
  transform: translateY(-2px);
  background-color:rgb(176, 237, 204);
  border: none
}

.btn_navigation:last-child{
  position: absolute;
  top: 260px;
  width: 100%;
  height: 19px;
  transform: translateY(2px);
  background-color:rgb(176, 237, 204);
  border: none;
}

.songTitle{
  color:white;
  padding: 10px;
}

.songText{
  padding: 10px;
  color: white;
}

/*song list menu setup*/
.listOfAllSongs{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  overflow-y: auto;
  overflow-x: hidden;
  height: 300px;
}

.single_item{
  color: black;
  width: 100%;
  text-align: center;
  color: white;
}

.single_item:hover{
  cursor: pointer;
}

.item_chosen{
  background-color: rgb(119, 243, 246);
  color: rgba(37, 34, 226, 0.938);
  border-radius: 5px;
}

form > button{
  color: black;
}

form > input{
  color: black;
}